{% extends 'base.html.twig' %}

{% block title %}Hello Page blanck{% endblock %}
{% block body %}
<div class="content-wrapper" style="min-height: 1604.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3> Search Products</h3>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <!-- Default box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">General</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Select2 (Default Theme)</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Desicnation</label>
                                        <input type="text"  class="form-control desic" name="desic" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                </div>
                                {%  if  categories %}
                                <div class="col-md-6">
                                    <label>Category</label>

                                    <select class="form-control  category" name="category" style="width: 100%;">
                                        <option value="0" disabled selected>Choisir un categoey</option>
                                        {% for c in categories %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% endif %}



                            </div>
                            <button type="button" class="btn btn-primary" id="btn_searchProduct" >search</button>

                            </div>
                        </div>

                    </div>




                </div>
            </section>

            <div class="card-body">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="{{ path('produit_ajout') }}" type="submit"
                                               class="btn btn-success float-right">Create new Product</a>
                                        </div>
                                    </div>


                            </div>
                    </div>
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">

                                    <div class="row">
                                        <div class="col-sm-12 showtables">
                                            <table id="example1"
                                                   class="table table-bordered table-striped dataTable dtr-inline"
                                                   aria-describedby="example1_info">
                                                <thead>
                                                <tr>
                                                    <th>Num article</th>
                                                    <th>Designation</th>
                                                    <th>Quatite</th>
                                                    <th>Prix HT</th>
                                                    <th>Tva</th>
                                                    <th>Unite</th>
                                                    <th>Images</th>
                                                    <th>Actions</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for produit in produits %}
                                                <tr class="odd">
                                                    <td>{{ produit.code }}</td>
                                                    <td>{{ produit.designation }}</td>
                                                    <td>{{ produit.quantite }}   </td>
                                                    <td>{{ produit.prixHt }}</td>
                                                    <td>{{ produit.tva }}</td>
                                                    <td>{{ produit.unite }}</td>
                                                    <td>{{ produit.imageName }}</td>
                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm"
                                                           href="{{ path('produit_show', {'id': produit.id}) }}">
                                                            <i class="fas fa-eye"> </i>
                                                        </a>
                                                        <a class="btn btn-info btn-sm"
                                                           href="{{ path('produit_edit', {'id': produit.id}) }}">
                                                            <i class="fas fa-pencil-alt"> </i>
                                                        </a>
                                                        <a class="btn btn-danger btn-sm"
                                                           href="{{ path('produit_delete', { 'id': produit.id }) }}">
                                                            <i class="fas fa-trash"> </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
{#                                        <div class="col-sm-12 col-md-5">#}
{#                                            <div class="dataTables_info" id="example1_info" role="status"#}
{#                                                 aria-live="polite">Showing 1 to 10 of 57 entries#}
{#                                            </div>#}
{#                                        </div>#}
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="example1_paginate">
                                                <nav aria-label="...">
                                                    <ul class="pagination">
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1"
                                                               aria-disabled="true">Previous</a>
                                                        </li>
                                                        <li class="page-item active" aria-current="page">
                                                            {{ knp_pagination_render(produits) }}
                                                        </li>

                                                        <li class="page-item">
                                                            <a class="page-link" href="#">Next</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    </div>

                </section>

            </div>
</div>

            <!-- /.card-header -->

    <script type="text/javascript">


        // $(document).ready(function () {
        //     $("#btn_searchProduct").click(function () {
        //         alert('fff');
        //     })
        // })
    </script>
            {% endblock %}




